<div class="col-xs-12  col-sm-6 well">
    <h2>Add New Contact</h2>
    <form class="form-horizontal col-sm-offset-6" action="">
      <div class="form-group">
          <div class="">
            <input type="text" class="form-control" id="fName" name="fName" placeholder="First Name" [(ngModel)]="user.fName" (keyup)="validateName($event)" #fname="ngModel">
          </div>
          <div *ngIf="(fname.touched || fname.dirty) && !isValidFName " class="alert alert-danger">
            {{errorMsg.fName}}
          </div>
      </div>
      <div class="form-group">
          <div class="">
            <input type="text" class="form-control" id="lName" name="lName" placeholder="Last Name" [(ngModel)]="user.lName" (keyup)="validateName($event)" #lname="ngModel">
          </div>
          <div *ngIf="(lname.touched || lname.dirty) && !isValidLName " class="alert alert-danger">
              {{errorMsg.lName}}
          </div>
      </div>
      <div class="form-group">
        <div class="">
          <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" [(ngModel)]="user.email" (keyup)="validateEmail($event)" #email="ngModel">
        </div>
        <div *ngIf="(email.touched || email.dirty) && !isValidEmail " class="alert alert-danger">
            {{errorMsg.email}}
        </div>
      </div>
      <div class="form-group">
       <div class=""> 
          <input type="tel" class="form-control" id="contact" name="contact" placeholder="Contact Number" [(ngModel)]="user.contact" minlength="10" maxlength="10" (keyup)="validatePhone($event)" #contact="ngModel">
        </div>
        <div *ngIf="(contact.touched || contact.dirty) && !isValidPhone " class="alert alert-danger">
            {{errorMsg.contact}}
        </div>
      </div>

      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox" name="status" [(ngModel)]="user.status"> Status</label>
          </div>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <div *ngIf="update == true">
              <button type="button" class="btn btn-primary" name="save" (click)="updateContact(user)"  [disabled]="!isValid || !isValidEmail || !isValidPhone || !isValidFName || !isValidLName">Update Contact</button>
          </div>
          <div *ngIf="update == false">
              <button type="button" class="btn btn-primary" name="save" (click)="addNew(user)" [disabled]="!isValid || !isValidEmail || !isValidPhone || !isValidFName || !isValidLName">Add Contact</button>
          </div>
          
        </div>
      </div>
    </form>
  </div>